<div class="container">
  <nav>
    <div class="logo">
      <img src="../assets/img/Logo.svg" alt="" />
    </div>
    <div>
      <ul>
        <li>Home</li>
        <li>Blog</li>
        <li>Single Post</li>
        <li>Pages</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="search">barra de pesquisa</div>
  </nav>

  <div class="main-post">
    <img
      src="../assets/img/post-cover/img-cover-blog-01.webp"
      alt=""
      class="bg-post"
    />
    <div class="main-post_content">
      <div class="tag">Technology</div>
      <h3>
        The Impact of Technology on the Workplace: How Technology is Changing
      </h3>
      <div class="autor-info">
        <img
          src="../assets/img/post-cover/avatar-01.webp"
          alt=""
          class="avatar"
        />
        <span class="author-name">Jason Francisco</span>
        <span class="date">August 20, 2022</span>
      </div>
    </div>
  </div>
</div>

<div></div>
<router-outlet></router-outlet>
